{% extends "base.html" %}

{% load static from staticfiles %}

{% block meta_title %}<title id="requests_title">Requests</title>{% endblock meta_title %}

{% block menu %}{% endblock %}

{% block content %}

{% csrf_token %}

<br>
<div class=" well col-md-8" id="content-column">
<br>

			<table class="table table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Method</th>
						<th>Url</th>
						<th>Status Code</th>
						<th>Date&Time</th>
					</tr>
				</thead>

				<tbody id="requests-content">

					{% for request in object_list %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ request.method }}</td>
						<td>{{ request.path }}</td>
						<td>{{ request.status_code }}</td>
						<td>{{ request.date }}</td>
					</tr>
					{% endfor %}

				</tbody>
			</table>

</div>
{% endblock content %}

{% block footer %}Requests{% endblock footer %}

{% block extra_js %}
  <script src="{% static "js/requests.js" %}"></script>
{% endblock extra_js %}
